<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>My Trip a Travel Category Flat Bootstrap responsive Website Template | About :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Trip Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="../assets/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="../assets/js/jquery-1.11.1.min.js"></script>
<script src="../assets/js/bootstrap.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/jquery.overscroll.min.js"></script>
	<script src="assets/js/flik-timeline.js"></script>
	<script src="assets/js/jquery.bxslider.min.js"></script>
<!-- parallax -->
	<script src="../assets/js/SmoothScroll.min.js"></script>
	<script src="../assets/js/jarallax.js"></script>
	<!-- //parallax -->
	<!-- load header and footer -->
	<script>
		$(function(){
			$("#header").load("header.html");
			$("#footer").load("footer.html");
		});
	</script>
	<!-- //load header and footer -->
</head>
<body>
	<!-- banner -->
	<div id="header" class="banner about-bg"></div>
	<!-- //banner -->
	<!-- a-about -->
	<div class="a-grid">
		<div class="container">
			<div class="w3l-about-heading">
				<h2>About Me</h2>
				<p>I'm a young, talented and passionated student IT.</p>
			</div>
			<div class="agileits-a-about-grids">
				<div class="col-md-5 agileits-a-about-left">
					<img src="assets/images/a1.jpg" alt="" />
				</div>
				<div class="col-md-7 agileits-a-about-right">
					<h3>A few words about me</h3>
					<h4>Hey people! First of all thank you for visiting my site and hope it can give you a little view into my life. </h4>
					<p>A long time ago, in a village far, far away, there was a young boy named Jonas... He had really good parents and one big brother. Together they lived in a nice house with a big garden. One day, the parents of Jonas bought a computer because Jonas really wanted a computer! They had no internet connection so the only thing Jonas could do was drawing stuff in Paint. Jonas liked to tell his mom that he was surfing on the internet, he just opened Notepad and started typing random things. His mom always answered on a funny way: "Don't you dare!". Jonas kept doing this because he liked her reaction.
						<span>A couple of years later, they got internet connection and Jonas liked to play games on Minigames.com. One day the uncle of Jonas came to their house, he came because Jonas asked him to put Windows XP on the computer that was still running on Windows 98. Jonas wanted to see how this worked and was watching the screen the whole day. He was so happy with the new Windows XP because it looked so fancy! This old pc was getting slow and Jonas really wanted a new computer. He asked his parents and they told him that he had to get a good score on school. So he really did his best because he wanted the computer. [More coming soon] </span>
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //a-about -->
	<!-- different -->
	<div class="jarallax different">
		<div class="container">
			<div class="w3-different-heading">
				<h3>Why we are different</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
			</div>
			<div class="w3agile-different-info">
				<p>Cras vehicula massa id ipsum venenatis, non convallis libero pellentesque. Sed tristique massa et mattis mattis. Nunc euismod consequat ex, eu tincidunt justo malesuada vitae. Sed auctor diam quis nulla hendrerit porta. Quisque venenatis, tortor quis tristique congue, lorem lectus elementum augue, in laoreet lorem justo lacinia velit. Phasellus tempus luctus velit, eu fermentum arcu porttitor sit amet. Suspendisse id efficitur sem. Donec laoreet ante at facilisis dictum. Donec sodales porta orci sed porta. Vivamus est enim, pharetra sit amet placerat ut, eleifend quis purus. Sed elementum tortor erat, placerat rutrum augue facilisis vel. Morbi feugiat tortor erat, nec gravida mauris egestas tincidunt. Sed vitae dignissim sapien.</p>
				<div class="w3agile-button">
					<a href="single.html">Read More</a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
	<!-- //different -->
	<!-- team -->
	<div class="team">
		<div class="container">
			<div class="agileinfo-team-heading">
				<h3>Our Team</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
			</div>
			<div class="team-grids">
				<div class="col-md-3 agileinfo-team-grid">
					<img src="assets/images/t1.jpg" alt="" />
					<div class="captn">
						<h4>Mary Jane</h4>
						<p>Vestibulum </p>
						<div class="w3l-social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo-team-grid">
					<img src="assets/images/t2.jpg" alt="" />
					<div class="captn">
						<h4>Peter Parker</h4>
						<p>Aliquam non</p>
						<div class="w3l-social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo-team-grid">
					<img src="assets/images/t3.jpg" alt="" />
					<div class="captn">
						<h4>Johan Botha</h4>
						<p>Nulla molestie</p>
						<div class="w3l-social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo-team-grid">
					<img src="assets/images/t4.jpg" alt="" />
					<div class="captn">
						<h4>Steven Wilson</h4>
						<p>Quisque vitae</p>
						<div class="w3l-social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- footer -->
	<div id="footer"></div>
	<!-- //footer -->
</body>	
</html>