<!DOCTYPE html>
<html>
<head>
    <title>About me - Jonas Stams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="The about page of Jonas Stams"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- bootstrap-css -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="all"/>
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="../assets/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="../assets/js/jquery-1.11.1.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>

    <!-- parallax -->
    <script src="../assets/js/SmoothScroll.min.js"></script>
    <script src="../assets/js/jarallax.js"></script>
    <!-- //parallax -->
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/images/favicon/apple-icon-114x114.png">
    <link rel="shortcut icon" href="http://www.jonasstams.be/images/favicon/favicon.ico?v=2"/>
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon/favicon-16x16.png">
    <!-- // favicon -->
    <!-- load header and footer -->
    <script>
        $(function () {
            $("#footer").load("footer.html");
        });
    </script>
    <!-- //load header and footer -->
</head>
<body>

<!-- banner -->
<div class="banner about-bg">
    <div class="top-banner about-top-banner">
        <div class="container">
            <div class="top-banner-left">
                <ul>
                    <li><a href="mailto:jonas@stams-it.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                        jonas@stams-it.com</a></li>
                </ul>
            </div>
            <div class="top-banner-right">
                <ul>
                    <li><a class="facebook" href="https://be.linkedin.com/in/jonasstams" target="_blank"><i
                            class="fa fa-linkedin"></i></a></li>
                    <li><a class="facebook" href="https://github.com/jonasstams" target="_blank"><i
                            class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1>
                    <a href="home.html">Jonas Stams</a>
                </h1>
            </div>
            <div class="top-nav">
                <nav class="navbar navbar-default">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">Menu
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a id="nav-index" href="home.html">Home</a></li>
                            <li><a class="active" id="nav-about" href="about.html">About</a></li>
                            <li><a id="nav-contact" href="contact.html">Contact</a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- a-about -->
<div class="a-grid">
    <div class="container">
        <div class="w3l-about-heading">
            <h2>About Me</h2>
            <p>I'm a young, talented and passionated student IT.</p>
        </div>
        <div class="agileits-a-about-grids">
            <div class="col-md-3 agileits-a-about-left">
                <img src="../assets/images/jonas.jpg" alt="Jonas Stams picture"/>
            </div>
            <div class="col-md-9 agileits-a-about-right">
                <h3>A few words about me</h3>
                <h4>Hey people! First of all thank you for visiting my site and I hope that it can give you a little
                    view into my life. </h4>
                <p>My name is Jonas Stams and I live in a small, quiet town that's called Ophoven. It's near Maaseik, a
                    city that most people will know. I'm already busy with computers for more than 14 years, and so I
                    discovered my talent. It feels like I can understand what a computer means. In 2011 I went to a new
                    secondary school where you could choose for IT-management. It was 11 hours of IT a week, so this was
                    something for me. Here I started to learn a lot of new things!

                    <span>And now, 5 years later, I still love to work on a PC. I've learned a lot and I'm still studying IT. Now at PXL a high school in Hasselt. I found out that I'm a quick learner, not in every class, but the things I really want to do in the future, stuck in my head so easily. I love programming and just love to work with code. On the other side, I have a head full of ideas. I keep on thinking how I can make success in life. Of course I first need to work to get some good experience, but my dream is to start something myself. I believe in myself and I will do everything to become one of the best in the things that I do. First of all I want to help my parents, so they don't have to struggle anymore at the end of their life. They gave me everything, and they will get it all back for sure! </span>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //a-about -->
<!-- different
<div class="jarallax different">
    <div class="container container-opacity">
        <div class="w3-different-heading">
            <h3>My history</h3>
            <p>On one creative day, I felt like writing a fairy-tale about my life.</p>
        </div>
        <div class="w3agile-different-info">
            <p>A long time ago, in a village far, far away, there was a young boy named Jonas... He had really good parents and one big brother. Together they lived in a nice house with a big garden. One day, the parents of Jonas bought a computer because Jonas really wanted a computer! They had no internet connection so the only thing Jonas could do was drawing stuff in Paint. Jonas liked to tell his mom that he was surfing on the internet, he just opened Notepad and started typing random things. His mom always answered on a funny way: "Don't you dare!". Jonas kept doing this because he liked her reaction.
            <div class="w3agile-button">
                <a href="history.html">Read More</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
//different -->
<!-- different -->
<div class="jarallax different">
    <div class="container container-opacity">
        <div class="w3-different-heading">
            <h3>Curriculum Vitae</h3>
            <p>Download my curriculum vitae by clicking on the download button. Note that this version can be
                outdated.</p>
        </div>
        <div class="w3agile-different-info">
            <div class="w3agile-button">
                <a href="downloads/JonasStams_CV.pdf" download="JonasStams_CV.pdf">Download CV</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<!-- //different -->
<!-- team -->
<div class="team">
    <div class="container">
        <div class="agileinfo-team-heading">
            <h3>Development Experience</h3>
            <p>The programming languages and frameworks that I'm used to work with.</p>

            <div class="row exp-row">
                <div class="col-md-4">
                    <h2 class="codes-heading">Languages</h2>
                    <ul class="list-group">
                        <li class="list-group-item">HTML</li>
                        <li class="list-group-item">CSS / SASS</li>
                        <li class="list-group-item">JavaScript</li>
                        <li class="list-group-item">PHP</li>
                        <li class="list-group-item">C#</li>
                        <li class="list-group-item">JAVA</li>
                        <li class="list-group-item">Android</li>
                        <li class="list-group-item">MySQL</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="codes-heading">Frameworks</h2>
                    <ul class="list-group">
                        <li class="list-group-item">AngularJS</li>
                        <li class="list-group-item">NodeJS</li>
                        <li class="list-group-item">ReactJS</li>
                        <li class="list-group-item">Codeigniter</li>
                        <li class="list-group-item">Symfony</li>
                        <li class="list-group-item">Laravel</li>
                        <li class="list-group-item">ASP.NET</li>
                        <li class="list-group-item">Servlet & JSP</li>
                        <li class="list-group-item">PL/SQL</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="codes-heading">Some Libraries</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Angular Material Design</li>
                        <li class="list-group-item">Bootstrap</li>
                        <li class="list-group-item">jQuery</li>
                        <li class="list-group-item">Mocha</li>
                        <li class="list-group-item">PHPUnit</li>
                        <li class="list-group-item">JUnit</li>
                        <li class="list-group-item">NUnit</li>

                    </ul>
                </div>
            </div>
            <h3>Other IT Experience</h3>
            <p>While I was developing, I also learned some other skills.git</p>

            <div class="row exp-row">
                <div class="col-md-4">
                    <h2 class="codes-heading">Operating Systems</h2>
                    <ul class="list-group">
                        <li class="list-group-item">MacOS (Current)</li>
                        <li class="list-group-item">Linx</li>
                        <li class="list-group-item">Windows</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="codes-heading">Graphic Design</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Photoshop</li>
                        <li class="list-group-item">Sony Vegas</li>
                        <li class="list-group-item">Wondershare Filmora</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="codes-heading">Others</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Microsoft Office</li>
                        <li class="list-group-item">Atlassian Jira</li>
                        <li class="list-group-item">VS Team Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //team -->

<!-- footer -->
<div id="footer"></div>
<!-- //footer -->
</body>
</html>
