<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
	<title>Contact me - Jonas Stams</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="My Trip Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- bootstrap-css -->
	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="../assets/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- font -->
	<link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<!-- //font -->
	<script src="../assets/js/jquery-1.11.1.min.js"></script>
	<script src="../assets/js/bootstrap.js"></script>
	<!-- parallax -->
	<script src="../assets/js/SmoothScroll.min.js"></script>
	<!-- //parallax -->
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="../assets/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../assets/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../assets/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../assets/images/favicon/apple-icon-114x114.png">
	<link rel="shortcut icon" href="http://www.jonasstams.be/images/favicon/favicon.ico?v=2" />
	<link rel="apple-touch-icon" sizes="120x120" href="../assets/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../assets/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../assets/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../assets/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../assets/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon/favicon-16x16.png">
	<!-- // favicon -->
	<!-- load header and footer -->
	<script>
		$(function(){
			$("#footer").load("footer.html");
		});
	</script>
	<!-- //load header and footer -->
</head>

<body>
	<!-- banner -->
	<div class="banner about-bg">
		<div class="top-banner about-top-banner">
			<div class="container">
				<div class="top-banner-left">
					<ul>
						<li><a href="mailto:jonas@stams-it.com"><i class="fa fa-envelope" aria-hidden="true"></i> jonas@stams-it.com</a></li>
					</ul>
				</div>
				<div class="top-banner-right">
					<ul>
						<li><a class="facebook" href="https://be.linkedin.com/in/jonasstams" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						<li><a class="facebook" href="https://github.com/jonasstams" target="_blank"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1>
						<a href="home.html">Jonas Stams</a>
					</h1>
				</div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a id="nav-index" href="home.html">Home</a></li>
								<li><a id="nav-about" href="about.html">About</a></li>
								<li><a class="active" id="nav-contact" href="contact.html">Contact</a></li>
								<div class="clearfix"> </div>
							</ul>
						</div>
					</nav>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- contact -->
	<div class="contact">
		<div class="container">
			<div class="w3l-contact-heading">
				<h2>Contact Me</h2>
				<p>On this page you can find everything you need to get in touch with me.</p>
			</div>
			<div class="agile-contact-form">
				<div class="col-md-6 contact-form-left">
					<div class="contact-form-top">
						<h3>Get in touch</h3>
						<p>Feel free to send me a message, I'll answer as soon as possible. You can message me if you want more information, ask
							a question about programming or webdesign, if you have a problem with your computer or if you have a job for me.</p>
					</div>
					<div class="contact-address">
						<ul>
							<li><i class="fa fa-phone fa-envelope" aria-hidden="true"></i> <span><a href="mailto:jonas@stams-it.com">jonas@stams-it.com</a></span></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 contact-form-right">
					<div class="contact-form-top">
						<h3>Send me a message</h3>
					</div>
					<div class="contact-form-grid">
						<form action="../mail.php" method="post">

							<input type="email" name="Email" placeholder="Email" required="">
							<input type="text" name="Telephone" placeholder="Telephone" required="">
							<input type="text" name="Name" id="contact-name-ip" placeholder="Name" required="">
							<input type="text" name="Subject" id="contact-subject-ip" placeholder="Subject" required="">
							<textarea name="Message" placeholder="Message" required=""></textarea>
							<input type="submit" name="email" class="btn1" value="Submit" />
						</form>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!--
			<div class="w3agile-map">
				<h3>Find us here</h3>
				<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d86258.20905457705!2d-82.56985214706441!3d36.53988771087049!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1463030942772" allowfullscreen></iframe>
			</div>
			-->
		</div>
	</div>
	<!-- //contact -->
	<!-- footer -->
	<div id="footer"></div>
	<!-- //footer -->
</body>

</html>