<!-- banner -->
<div class="banner">
    <div class="top-banner">
        <div class="container">
            <div class="top-banner-left">
                <ul>
                    <li><a href="mailto:jonas@stams-it.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                        jonas@stams-it.com</a></li>
                </ul>
            </div>
            <div class="top-banner-right">
                <ul>
                    <li><a class="facebook" href="https://be.linkedin.com/in/jonasstams" target="_blank"><i
                            class="fa fa-linkedin"></i></a></li>
                    <li><a class="facebook" href="https://github.com/jonasstams" target="_blank"><i
                            class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1>
                    <a href="home.html">Jonas Stams</a>
                </h1>
            </div>
            <div class="top-nav">
                <nav class="navbar navbar-default">
                    <button type="button" id="menu-button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">Menu
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a class="active" id="nav-index" href="#/">Home</a></li>
                            <li><a id="nav-about" href="#about">About</a></li>
                            <li><a id="nav-contact" href="#contact">Contact</a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //banner -->
<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000"
     data-pause="hover">
    <!-- Wrapper for Slides -->
    <div class="carousel-inner" role="listbox">
        <!-- First Slide -->
        <div class="item active">
            <div class="slider">
                <div class="carousel-caption kb_caption slider-grid">
                    <h3>Programmer</h3>
                    <p>What I like the most! I can't stop learning new things!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about -->
<div class="about">
    <div class="container">
        <div class="w3l-about-heading">
            <h2>Latest Projects</h2>
            <p>The projects I've been working on lately.</p>

            <h3>5 + 5 = {{5 + 5}}</h3>
        </div>
        <div class="about-grids">
            <div class="col-md-3 about-grid">
                <div class="about-grid-info effect-1">
                    <a class="project-circle no-decoration pointer"
                       href="http://ec2-54-68-117-239.us-west-2.compute.amazonaws.com" target="_blank">
                        <h4>Smart Beehive</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3 about-grid">
                <div class="about-grid-info about-grid-info1 effect-1">
                    <a class="project-circle no-decoration pointer"
                       href="https://github.com/jonasstams/node-express-mongo-api" target="_blank">
                        <h4>Node-Mongo api</h4>
                    </a>

                </div>
            </div>
            <div class="col-md-3 about-grid">
                <div class="about-grid-info about-grid-info2 effect-1">
                    <a class="project-circle no-decoration pointer" href="https://github.com/jonasstams/CryptoChat"
                       target="_blank">
                        <h4>Crypto Chat</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3 about-grid">
                <div class="about-grid-info about-grid-info3 effect-1">
                    <a class="project-circle no-decoration pointer"
                       href="http://www.mediaan.com/nieuws/mediaan-masterclasses-2016/" target="_blank">
                        <h4>Masterclasses</h4>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- offer
  <div class="offer">
    <div class="container">
        <div class="wthree-offer-grid">
            <h4>Today's Best offer</h4>
            <p>At the moment, I am busy with a webshop. We are going to sell Virtual Reality glasses. Follow the
                link to get discount in our webshop! </p>
            <div class="click-button">
                <a href="http://www.vr-box.be">Click Here</a>
            </div>
        </div>
    </div>
</div>
 //offer -->
<!-- news
<div class="news">
    <div class="container">
        <div class="news-heading">
         <h3>News & Events</h3>
            <p>Some articles or news I find interesting or events I am attending.</p>
          </div>
        <div class="news-grids">
            <div class="col-md-4 news-grid">
                <div class="agile-news-grid-info">
                    <div class="news-grid-info-img">
                        <a href="single.html"><img src="images/n1.jpg" alt="" /></a>
                    </div>
                    <div class="news-grid-info-bottom">
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Jonas</a>
                            </div>
                            <div class="time">
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> July 3, 2016</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="news-grid-info-bottom-text">
                            <a href="single.html">Summer internship @ Mediaan</a>
                            <p>Working / learning as a Software tester.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 news-grid">
                <div class="agile-news-grid-info">
                    <div class="news-grid-info-img">
                        <a href="single.html"><img src="images/n2.jpg" alt="" /></a>
                    </div>
                    <div class="news-grid-info-bottom">
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Jonas</a>
                            </div>
                            <div class="time">
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> June 22, 2016</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="news-grid-info-bottom-text">
                            <a href="single.html">Last Mediaan Masterclass - Hacking</a>
                            <p>The last masterclass was about hacking.</p>	</div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 news-grid">
                <div class="agile-news-grid-info">
                    <div class="news-grid-info-img">
                        <a href="single.html"><img src="images/n3.jpg" alt="" /></a>
                    </div>
                    <div class="news-grid-info-bottom">
                        <div class="date-grid">
                            <div class="admin">
                                <i class="fa fa-user" aria-hidden="true"></i> Jonas
                            </div>
                            <div class="time">
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> May 18, 2016</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="news-grid-info-bottom-text">
                            <a href="single.html">First Mediaan Masterclass - Design</a>
                            <p>The first Masterclass we got, was about design...</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
 //news -->
