<!DOCTYPE html>
<html>
<head>
    <title>Jonas Stams' Project timeline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="This is Jonas Stams' project timeline, this is what he has made in a couple or years."/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- bootstrap-css -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="all"/>
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="../assets/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="../assets/js/jquery-1.11.1.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <!-- parallax -->
    <script src="../assets/js/SmoothScroll.min.js"></script>
    <script src="../assets/js/jarallax.js"></script>
    <!-- //parallax -->
		<!-- load header and footer -->
	<script>
		$(function(){
			$("#footer").load("footer.html");
		});
	</script>
	<!-- //load header and footer -->
</head>
<body>
<!-- banner -->
<div class="banner about-bg">
    <div class="top-banner about-top-banner">
        <div class="container">
            <div class="top-banner-left">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> + (32) 4 83 63 38 21</li>
                    <li><a href="mailto:jonasstams@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                        jonasstams@gmail.com</a></li>
                </ul>
            </div>
            <div class="top-banner-right">
                <ul>
						<li><a class="facebook" href="https://be.linkedin.com/in/jonasstams" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="facebook" href="https://twitter.com/jonasstams" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="facebook" href="https://github.com/jonasstams" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1>
                    <a href="home.html">Jonas Stams</a>
                </h1>
            </div>
            <div class="top-nav">
                <nav class="navbar navbar-default">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">Menu
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a id="nav-index" href="home.html">Home</a></li>
                            <li><a id="nav-about" href="about.html">About</a></li>
                            <li><a class="active" id="nav-services" href="projects.html">Projects</a></li>
                            <li><a id="nav-contact" href="contact.html">Contact</a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- a-about -->
<div class="a-grid">
    <div class="container">
        <div class="w3l-about-heading">
            <h2>My Projects</h2>
            <p>The things I've made, from the start untill now.</p>
        </div>
        <div class="agileits-services-grids">
            <div class="row">
                <div class="col-md-9 w3l-services-grid">
                        <img src="assets/images/planet.jpg" class="timeline-img"/>
                </div>
                <div class="col-md-3">
                    <div class="services-grid-info">
                    <h4>A website for myself</h4>
                        <h5>20</h5>
                    <p>Maecenas volutpat cursus commodo. Nunc consectetur ligula eget leo accumsan, non lobortis mi
                        varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Quisque vitae fringilla nulla.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 w3l-services-grid">
                    <div class="services-grid-info">
                    <h4>Scelerisque </h4>
                    <p>Maecenas volutpat cursus commodo. Nunc consectetur ligula eget leo accumsan, non lobortis mi
                        varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Quisque vitae fringilla nulla.</p></div>

                </div>
                <div class="col-md-6 w3l-services-grid">
                        <img src="assets/images/planet.jpg" class="timeline-img"/>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6 w3l-services-grid">
                    <div class="services-grid-info">
                        <img src="assets/images/planet.jpg" class="timeline-img"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="services-grid-info">
                    <h4>Scelerisque </h4>
                    <p>Maecenas volutpat cursus commodo. Nunc consectetur ligula eget leo accumsan, non lobortis mi
                        varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Quisque vitae fringilla nulla.</p>
                        </div>
                </div>
            </div>
            <div class="col-md-6 w3l-services-grid">
                <div class="services-grid-info">
                    <h4>Scelerisque </h4>
                    <p>Maecenas volutpat cursus commodo. Nunc consectetur ligula eget leo accumsan, non lobortis mi
                        varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Quisque vitae fringilla nulla.</p>
                </div>
                <div class="services-grid-info">
                    <h4>Duis accumsan</h4>
                    <p>Maecenas aliquam nec arcu at efficitur. Praesent cursus aliquam erat a commodo. Nulla molestie
                        nulla et dolor commodo pharetra. Praesent sit amet est arcu. Cras vehicula mauris id vestibulum
                        semper. </p>
                </div>
                <div class="services-grid-info">
                    <h4>Sed lobortis</h4>
                    <p>Donec augue ante, cursus et dapibus ac, tristique vel tellus. Praesent massa diam, gravida sit
                        amet hendrerit a, auctor a dolor. Cum sociis natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Sed vitae gravida leo, eu maximus dui. </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //a-about -->
<!-- different -->
<div class="jarallax more-offer">
    <div class="container">
        <div class="w3-different-heading">
            <h3>Special Features</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
        </div>
        <div class="w3agile-different-info">
            <p>Cras vehicula massa id ipsum venenatis, non convallis libero pellentesque. Sed tristique massa et mattis
                mattis. Nunc euismod consequat ex, eu tincidunt justo malesuada vitae. Sed auctor diam quis nulla
                hendrerit porta. Quisque venenatis, tortor quis tristique congue, lorem lectus elementum augue, in
                laoreet lorem justo lacinia velit. Phasellus tempus luctus velit, eu fermentum arcu porttitor sit amet.
                Suspendisse id efficitur sem. Donec laoreet ante at facilisis dictum. Donec sodales porta orci sed
                porta. Vivamus est enim, pharetra sit amet placerat ut, eleifend quis purus. Sed elementum tortor erat,
                placerat rutrum augue facilisis vel. Morbi feugiat tortor erat, nec gravida mauris egestas tincidunt.
                Sed vitae dignissim sapien.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<!-- //different -->
<!-- team -->
<div class="more-bottom">
    <div class="container">
        <div class="more-bottom-heading">
            <h3>Offered Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta efficitur ante quis volutpat.</p>
        </div>
        <div class="more-bottom-grids">
            <div class="col-md-4 more-bottom-grid">
                <div class="more-bottom-grid-info">
                    <div class="more-bottom-grid-img">
                        <img src="assets/images/s1.jpg" alt=""/>
                    </div>
                    <div class="more-bottom-grid-text">
                        <h5>Nullam tincidunt sed augue at sodales. Ut dignissim ipsum dolor</h5>
                        <p>Etiam mollis sem mi, sit amet tincidunt sem euismod ut. Donec dictum nisi sit amet ex
                            volutpat interdum. Duis accumsan tellus urna, eget tincidunt purus vehicula ornare.
                            Curabitur sed erat lacus. Sed vitae congue nisi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 more-bottom-grid">
                <div class="more-bottom-grid-info">
                    <div class="more-bottom-grid-img">
                        <img src="assets/images/s2.jpg" alt=""/>
                    </div>
                    <div class="more-bottom-grid-text">
                        <h5>Nullam tincidunt sed augue at sodales. Ut dignissim ipsum dolor</h5>
                        <p>Etiam mollis sem mi, sit amet tincidunt sem euismod ut. Donec dictum nisi sit amet ex
                            volutpat interdum. Duis accumsan tellus urna, eget tincidunt purus vehicula ornare.
                            Curabitur sed erat lacus. Sed vitae congue nisi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 more-bottom-grid">
                <div class="more-bottom-grid-info">
                    <div class="more-bottom-grid-img">
                        <img src="assets/images/s3.jpg" alt=""/>
                    </div>
                    <div class="more-bottom-grid-text">
                        <h5>Nullam tincidunt sed augue at sodales. Ut dignissim ipsum dolor</h5>
                        <p>Etiam mollis sem mi, sit amet tincidunt sem euismod ut. Donec dictum nisi sit amet ex
                            volutpat interdum. Duis accumsan tellus urna, eget tincidunt purus vehicula ornare.
                            Curabitur sed erat lacus. Sed vitae congue nisi.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //team -->
<!-- footer -->
<div id="footer"></div>
<!-- //footer -->
</body>
</html>